/* Общие стили */
body {
    background-image: url("images/111.jpg");
    background-size: contain;
    color: #f5f5f5;

    font-family: 'Montserrat', sans-serif;
    background-color: #050505;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1100px; /* ширина контейнера */
    margin: 0 auto;
    padding: 20px;
}

h1, h2, h3 {
    font-family: 'Lora', serif;
    color: #FACECE;
}

h2, h3 {
    font-size: 2em;
}

p {
    margin: 10px 0;
}

/* Шапка */
.header {
    text-align: center;
}

.header h1 {
    font-size: 2.5em;
    margin: 0;
}

.header .subtitle {
    font-size: 1.2em;
    font-family: 'Cantarell', sans-serif;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-around; /* Расположено рядом с фотографией */
}

.avatar-wrapper img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: #FFFFFF;
}

/* Контакты */
.contacts {
    background-color: #FACECE;
    padding: 15px;
    border-radius: 70px;
    color: #050505;
    max-width: 200px;
    text-align: center;
}

.contact-info p {
    margin: 5px 0;
}

.contacts h3 {
    color: #000000;
}

.contacts a {
    color: #050505;
    text-decoration: none;
}

.contacts a:hover {
    text-decoration: underline;
}

/* О себе */
.about {
    text-align: left;
    margin-top: 60px;
}

.about h2 {
    font-size: 2.5em;
}

.about-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

.about-text {
    max-width: 60%;
}

.about-text img {
    margin-top: 10px;
    width: 100%;
    border-radius: 8px;
}

.about img {
    max-width: 35%;
    border-radius: 10px;
}

/* Навыки */
.skills {
    text-align: right;
    margin-top: 60px;
}

.skills h2 {
    font-size: 2.5em;
}

.skills-list {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.skills-list img {
    max-width: 400px;
    border-radius: 8px;
}

/* Работы */
.works h2 {
    font-size: 2.5em;
    text-align: left;
}

.google-drive {
    text-align: left;
    font-size: 1.1em;
    margin-bottom: 10px;
}

.google-drive a {
    color: #FACECE;
    text-decoration: underline;
}

.works-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}

.works-gallery img {
    width: 200px;
    border-radius: 8px;
    background-color: #FFFFFF;
}

/* Заказ проектов */
.order {
    text-align: right;
    margin-top: 60px;
}

.order h2 {
    font-size: 2.5em;
    text-align: center;
}

.order-content {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.work-types {
    font-family: 'Cantarell', sans-serif;
    color: #FACECE;
    padding: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
}

.form input, .form button {
    padding: 15px;
    font-family: 'Cantarell', sans-serif;
    font-size: 1.1em;
    border: none;
    border-radius: 5px;
}

.form button {
    background-color: #FACECE;
    color: #050505;
    font-weight: bold;
    cursor: pointer;
}

footer {
    text-align: center;
    font-size: 0.9em;
    color: #FACECE;
    margin-top: 120px;
}